<!-- views/already-granted.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Domain Delegation Already Granted</title>
</head>

<body>
  <h1>Domain Delegation Already Granted</h1>
  <p>Domain-wide delegation is already granted for <%= customerDomain %>!</p>
</body>

</html>
