<!-- views/success.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Domain Delegation Success</title>
</head>

<body>
  <h1>Domain Delegation Successful</h1>
  <p>Domain-wide delegation has been granted for <%= customerDomain %>!</p>
</body>

</html>
